*,
::before,
::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
    margin: 0;
    font-family: 'TT Lakes';
}

button {
    border: 0;
    cursor: pointer;
    outline:none;
}

a{
    color: #1B1C21;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.content{
    background-color: #F8F8F8;
}

.content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    /*width: 100%;*/
}

/*  ------- MEDIA min-width: 320px  ------- */
@media (min-width: 320px) {

    .navbar{
        display: flex
    }

    /* -------- Header -------- */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 88px;
        width: 100%;
    }

    .burger {
        background-color: #FF3E79;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 24px 16px;
    }

    .burger__item {
        display: block;
        width: 10px;
        height: 2px;
        background-color: #fff;
        position: relative;
        border-radius: 1px;
        margin-left: 4px;
    }

    .burger__item::before,
    .burger__item::after {
        content: "";
        background-color: #fff;
        position: absolute;
        left: 0;
        z-index: 1;
        border-radius: 1px;
    }

    .burger__item::before {
        width: 18px;
        height: 2px;
        top: -8px;
    }

    .burger__item::after {
        width: 14px;
        height: 2px;
        bottom: -8px;
    }

    /* ----- Logo ----- */
    .logo {
        margin: 18px 16px 18px 0;
    }

    .logo__icon {
        display: block;
        height: 51px;
        width: 60px;
        fill: #6B7B84;
    }

    /* ----- Border ----- */
    .border__left{
        height: 32px;
        width: 2px;
        background-color: #EAEAEA;
        display: none;
    }

    /* ----- Link ----- */
    .link__settings,
    .link__search,
    .link__call,
    .link__message,
    .link__profile{
        position: relative;
        background-color: #FF3E79;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0;
    }

    .link__settings {
        margin: 24px 16px 24px 20px;
    }
    .link__settings::before{
        content: "";
        position: absolute;
        left: -20px;
        top: 5px;
        height: 32px;
        width: 2px;
        background-color: #EAEAEA;
    }

    .link__search {
        margin: 24px 16px 24px 0;
    }

    .link__settings-icon,
    .link__search-icon,
    .link__call-icon,
    .link__message-icon,
    .link__profile-icon{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 19px;
        width: 20px;
        margin: 0;
    }
    .link__call,
    .link__message,
    .link__profile{
        display: none;
    }

    /*Navbar*/
    .navbar{
        display: none;
        background: #F2F2F2;
    }

    .navbar__content{
        width: 320px;
        background: #fff;
        /*box-shadow: 1px 0 15px rgb(151, 145, 145);*/
    }

    .navbar__content-header{
        display: flex;
        padding:23px 0 0 24px ;
        margin-bottom: 51px;
    }

    .navbar__content-header-search:hover,
    .navbar__content-header-close:hover,
    .link__settings:hover,
    .link__search:hover,
    .navbar__content-icons-profile:hover,
    .navbar__content-icons-message:hover,
    .navbar__content-icons-call:hover{
        background-color: #ee398a;
    }

    .navbar__content-header-close,
    .navbar__content-header-search,
    .navbar__content-icons-call,
    .navbar__content-icons-message,
    .navbar__content-icons-profile{
        position: relative;
        background-color: #FF3E79;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0;
        transition: background-color .2s linear;
    }

    .navbar__content-icons:first-child{
        margin: 0;
    }

    .navbar__content-header-close{
        margin-right: 20px;
    }

    .navbar__content-header-close-icon,
    .navbar__content-header-search-icon{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    .navbar__content-header-close-icon{
        height: 16px;
        width: 16px;
    }

    .navbar__content-header-logo-icon{
        height: 51px;
        width: 97px;
        fill: #6B7B84;
        margin-right: 75px;
    }

    .navbar__content-header-search-icon{
        height: 17px;
        width: 17px;
    }

    .navbar__content-menu{
        padding-left: 24px;
    }

    .navbar__content-menu-items{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        font-weight: 600;
        margin-bottom: 32px;
        /*margin-bottom: 247px;*/
    }

    .navbar__content-menu-item{
        padding-bottom: 32px;
        cursor: pointer;
        transition: color .2s linear;
    }

    .navbar__content-menu-item:hover{
        color: #9e9ea2;
    }

    .navbar__content-menu-item--active{
        position: relative;
        color: #7E7E82;
    }

    .navbar__content-menu-item--active::before{
        content: "";
        position: absolute;
        left: -24px;
        top: 0;
        border-left: 4px solid #41F6D7;
        height: 32px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .navbar__content-icons{
        display:flex;
        padding-left: 24px;
        margin-bottom: 16px;
    }

    .navbar__content-icons-call,
    .navbar__content-icons-message,
    .navbar__content-icons-profile{
        margin-left: 16px;
    }

    .navbar__content-icons-call{
        margin: 0;
    }

    .navbar__content-icons-call-item,
    .navbar__content-icons-message-item,
    .navbar__content-icons-profile-item{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    .navbar__content-contacts{
        padding-left: 24px;
    }

    .navbar__content-contacts-email{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        font-weight: 500;
        margin-bottom: 32px;
    }

    .navbar__content-contacts-number{
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.6px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .navbar__content-language{
        display: flex;
        padding-left: 24px;
        font-weight: 600;
        margin-bottom: 80px;
    }

    .navbar__content-language-ru,
    .navbar__content-language-en,
    .navbar__content-language-ch{
        color: #1B1C21;
        padding-right: 7px;
        transition: color .2s linear;
    }
    .navbar__content-language a:hover{
        color: #9e9ea2;
    }

    .navbar__content-language-ru--active{
        color: #7E7E82;
    }

    /* -------- Main & content -------- */
    main {
        background-color: #F8F8F8;
    }

    .navbar{
        display: none;
    }

    .content__header-title {
        position: relative;
        margin-left: 16px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: #1B1C21;
        font-weight: bold;
        padding: 16px 24px 24px 0;
    }

    .content__header-title::before {
        content: "";
        position: absolute;
        left: -16px;
        top: 15px;
        border-left: 4px solid #41F6D7;
        height: 40px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .content__header-nav{
        display: none;
    }

    .content__nav {
        overflow-y: hidden;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        white-space: nowrap;
        font-weight:500;
        margin-left: 16px;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    .content__link{
        display: inline-flex;
        color: #7E7E82;
        margin-right: 25px;
    }

    .content__link--active {
        color: #7E7E82;
        padding: 8px 9px 8px 16px;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        background-color: #fff;
        margin-right: 19px;
    }

    .content__about-info{
        margin: 24px 0 0 16px;
    }

    .content__about-text{
        height: 90px;
        width: 288px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .content__about-more{
        position: relative;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        padding-left: 30px;
        background-color: inherit;
    }

    .btn-modif{
        margin: 0 7px 0 0;
    }

    /*.content__about-more::before,*/
    /*.content__about-more::after{*/
    /*    content: "";*/
    /*    display: block;*/
    /*    width: 7px;*/
    /*    height: 7px;*/
    /*    border-top: 2px solid #41F6D7;*/
    /*    border-right: 2px solid #41F6D7;*/
    /*    position: absolute;*/
    /*    left: 12px;*/
    /*    z-index: 1;*/
    /*    transform: translateY(-50%) rotate(135deg);*/
    /*}*/

    .content__about-more::before{
        top: 30%;
        left: 12px;
    }

    .content__about-more::after{
        top: 60%;
    }

    .content__about-img{
        display: block;
        max-width: 100%;
        height: auto;
        padding: 20px 0 40px;
        background-color: #F8F8F8;
        margin-right: auto;
    }

    /*Burger active classes*/
    .navbar--active{
        display: flex !important;
        position: absolute;
        z-index: 10;
        top: 0;
        box-shadow: 15px 0 8px -3px rgba(50, 50, 50, 0.2);
        width: 100%;
        background: rgba(255, 255, 255, 0.7);
    }

    /* -------- Swiper -------- */

    .swiper-container{
        display: block;
        position: relative;
    }

    .swiper-header {
        padding: 16px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: #7E7E82;
        font-weight: 400;
        background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }

    .logos{
        height: 140px;
        width: auto !important;
    }

    .swiper-pagination-bullet{
        background: #B5B6BC;
        width: 12px;
        height: 12px;
    }


    .swiper-item{
        background: #FFFFFF;
    }

    /*.swiper-logo{*/
    .item-logos{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 72px;
        width: 240px;
        margin: 16px 8px 16px 8px;

        border: 1px solid #EAEAEA;
        border-radius: 6px;
        transition: .2s background linear;
        cursor: pointer;
    }

    .item-logos:first-child{
        margin-left: 16px;
    }

    .item-logos:hover{
        background: #f9f9f9;
    }

    .swiper-item-special{
        justify-content: space-between;
        padding-left: 16px;
        padding-right: 16px;
    }

    .swiper-more{
        display: none;
    }

    /*Swiper-technics*/
    
    .swiper-container-technics{
        position: relative;
    }

    .technics{
        width: auto;
        height: 228px;
    }

    .item-technics{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: 160px;
        width: 240px;
        margin: 16px 8px 16px 8px;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        transition: .2s background linear;
        cursor: pointer;
    }

    .item-technics:hover{
        background: #f9f9f9;
    }

    .item-technics:first-child,
    .item-technics:last-child{
        margin-left: 16px;
    }

    .swiper-technics__header{
        padding-left: 16px;
        padding-top: 16px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-weight: 600;
        color: #1B1C21;
    }

    .button-technics{
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

    /*Swiper prices*/

    .swiper-prices_header{
        display: none;
    }

    .swiper-wrapper-prices{
        padding-bottom: 16px;
    }

    .prices{
        margin-top: 16px;
        height: 260px;
        width: auto;
    }

    .item-prices{
        position: relative;
        height: 200px;
        width: 260px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        cursor: pointer;
        transition: .2s background linear;
        padding:16px 0 0 16px;
        margin: 0 8px;
    }

    .item-prices:first-child{
        margin-left: 16px;
    }

    .item-prices:last-child{
        margin-right: 16px;
    }

    .item-prices:hover{
        background: #f9f9f9;
    }

    .prices-head{
        line-height: 16px;
        color: #7E7E82;
        mix-blend-mode: normal;
        opacity: 0.72;
    }

    .prices-head:first-of-type{
        padding-bottom: 4px;
    }

    .prices-head:nth-of-type(2),
    .prices-head:nth-of-type(3){
        padding: 16px 0 4px;
    }

    .prices-text,
    .prices-term,
    .prices-time{
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }

    .prices-button{
        position: absolute;
        bottom: 16px;
        right: 16px;
        background: #FF3E79;
        border-radius: 16px;
        width: 120px;
        height: 32px;
        transition: background .2s ease-in;
    }

    .prices-button:hover{
        background: #e2366b;
    }

    .prices-button-text{
        font-size: 12px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        color: #FFFFFF;
        vertical-align: top;
    }

    .prices-button-img{
        background-color: inherit;
    }

    .description{
        display: flex;
        flex-wrap: wrap;
        padding-left: 16px;
        width: 288px;
    }

    .description__text{
        height: 137px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        font-weight: 500;
    }

    .description__offer{
        position: relative;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        font-weight: 600;
        margin-bottom: 42px;
    }

    .description__offer-img{
        position: absolute;
        bottom: -2px;
    }

    /*Footer*/

    footer{
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        color: #7E7E82;
        mix-blend-mode: normal;
        opacity: 0.72;
    }

    .policy{
        border-top: 1px solid #D9FFF5;
        padding-bottom: 16px;
    }

    .policy:first-child{
        padding-top: 16px;
    }

    /*Modal window Feedback*/

    .feedback{
        display:none;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    }

    .feedback__item{
        position: absolute;
        right: 0;
        width: 320px;
        background-color: #fff;
        height: 676px;
    }

    .feedback__item-close{
        margin: 24px 0 0 16px;
    }

    .feedback__item-head{
        margin-top: 24px;
        margin-left: 16px;
    }

    .feedback__item-input{
        margin: 0 16px 16px 16px;
        padding-left: 16px;
        width: 288px;
        height: 48px;
        border: 1px solid #EAEAEA;
        border-radius: 8px;
        font-size: 14px;
        line-height: 24px;
        color: #1B1C21;
    }

    .feedback__item-input::placeholder{
        color: #B5B6BC;
        opacity: .7;
    }

    .feedback__item-input:last-of-type{
        height: 118px;
    }

    .feedback__item-input::placeholder{
        margin: 12px 0 0 16px;
    }

    .feedback__item-description{
        position: relative;
        margin-left: 16px;
        font-size: 14px;
        line-height: 16px;
        color: #7E7E82;
    }

    .feedback__item-btn{
        position: absolute;
        bottom: -53px;
        width: 132px;
        font-size: 12px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .feedback__item-btn img{
        padding-left: 5px;
    }
}

/*  ------- MEDIA min-width: 768px  ------- */
@media (min-width: 768px){

    /* ----- Navbar ----- */
    .navbar{
        display: none;
    }

    /* ----- Burger ----- */
    .burger {
        margin-right: 20px;
    }

    /* ----- Logo ----- */
    .logo__icon {
        width: 96px;
        margin-left: 20px;
    }

    /* ----- Border ----- */
    .border__left {
        display: block;
    }

    /* ----- Logo ----- */
    .logo{
        padding-right: 200px;
    }

    /* ----- Link ----- */
    .link__call,
    .link__message,
    .link__profile{
        display: inline-block;
    }

    .link__call,
    .link__message{
        margin-right: 16px;
    }

    .link__profile{
        margin-right: 20px;
    }

    /* ----- Content ----- */
    .content__header-title{
        margin-left: 24px;
    }

    .content__nav{
        margin: 0 0 40px 24px;
    }

    .content__header-nav{
        display: none;
    }

    .content__about{
        display: flex;
    }

    .content__about-info{
        margin:0 0 0 24px;
        padding: 0;
    }

    .content__about-img{
        width: 50%;
        margin-left: auto;
        margin-right: 0;
        padding:0 0 40px 0;
        border-radius: 5px;
    }

    .content__about-text{
        height: 160px;
        width: 312px;
        line-height: 20px;
    }
    .content__header-title::before{
        left: -23px;
    }

    .swiper-wrapper{
        flex-wrap: wrap;
        padding-bottom: 37px;
    }

    .logos{
        /*width: 33% !important;*/
        height: auto;
    }

    .logos:nth-child(7),
    .logos:nth-child(8),
    .logos:nth-child(9),
    .logos:nth-child(10),
    .logos:nth-child(11){
        display: none;
    }

    .item-logos{
        width: 224px;
    }

    .swiper-more{
        display: flex;
        width: 100%;
        background: inherit;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        margin-top: 8px;
    }

    .slide-open{
        display: flex !important;
    }

    .swiper-more-button{
        margin: auto 10px auto 32px;
    }

    .btn-modif{
        margin: 0 7px 0 0;
    }

    .technics{
        height: 184px;
    }

    .technics:nth-child(4),
    .technics:nth-child(5),
    .technics:nth-child(6),
    .technics:nth-child(7),
    .technics:nth-child(8),
    .technics:nth-child(9),
    .technics:nth-child(10),
    .technics:nth-child(11){
        display: none;
    }

    .item-technics{
        width: 224px;
    }

    /* ----- Swiper prices ----- */

    .swiper-wrapper-prices{
        width: 100%;
        border-radius: 6px;
        padding-bottom: 24px;
    }

    .swiper-prices_header{
        margin-top: 31px;
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        color: #7E7E82;
        mix-blend-mode: normal;
        opacity: 0.72;
    }

    .services{
        width: 52%;
        margin: 0 0 16px 40px;
    }

    .price{
        width: 13%;
    }

    .term{
        width: 35%;
    }

    .prices{
        width: 93.75%;
        margin: 0;
    }

    .item-prices{
        border: 0;
    }

    .prices-text{
        width: 53%;
    }

    .prices-term{
        width: 13%;
    }

    .prices-time{
        width: 16%;
    }

    .prices-btn{
        width: 18%;
    }

    .swiper-prices_header{
        display: flex;
    }

    .prices{
        height: auto;
        width: 100%;
    }
    .item-prices{
        display: flex;
        height: auto;
        width: auto;
        padding: 23px 0 23px 16px;
        border-bottom: 1px solid #EAEAEA;
        border-radius: 0;
    }
    .prices-head{
        display: none;
    }

    .description{
        width: 421px;
    }

    .description__text{
        height: 90px;
    }

    footer{
        display: flex;
        text-align: left;
        width: 100%;
    }

    .policy{
        padding-top: 32px;
        width: 33%;
    }

    .policy:first-child{
        padding: 32px 35px 41px 24px;
    }

    .policy:last-child{
        padding:32px 24px 26px 40px;
    }

    .feedback__item{
        width: 440px;
        height: 940px;
    }

    .feedback__item-close{
        position: absolute;
        left: -80px;
        top: 13px;
    }

    .feedback__item-head,
    .feedback__item-description,
    .feedback__item-input{
        margin-left: 32px;
        margin-right: 32px;
    }

    .feedback__item-head:before{
        left: -32px;
    }

    .feedback__item-input{
        width: 376px;
    }
}

@media (min-width: 1000px) {
    .technics:nth-child(4){
        display: flex;
    }
}

/*  ------- MEDIA min-width: 1120px  ------- */
@media (min-width: 1120px){

    main{
        display:flex;
    }

    .navbar{
        display: flex;
    }

    .navbar__content-header{
        justify-content: space-around;
    }

    header{
        display: none;
    }

    /* ----- Content ----- */
    .content__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }
    .content__header-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .content__header-nav-setting{
        padding-right: 77px;
    }
    .content__header-nav-search{
        padding-right: 55px;
    }

    .content__header-nav-setting,
    .content__header-nav-search{
        position: relative;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }

    .content__link{
        transition: color .2s linear;
    }

    .content__link:hover{
        color: #5f5f63;
    }

    .link__settings,
    .link__search{
        margin: 0;
        position: absolute;
        top: -6px;
        transition: background-color .2s linear;
    }

    .link__search{
        right: 5px;
    }

    .link__settings{
        right: 0;
        margin-right: 25px;
    }

    .link__settings::before{
        display: none;
    }

    /* ----- content__about ----- */
    .content__about-text{
        width: 490px;
    }

    .logo {
        width: 25% !important;
    }

    .item-logos{
        width: 240px;
    }

    .item-technics:first-child{
        margin-left: 32px;
    }

    .swiper-wrapper-prices{
        padding-bottom: 32px;
    }
}

@media (min-width: 1600px){
    .logos{
        width: 20% !important;
    }

    .logos:nth-child(9),
    .logos:nth-child(10),
    .logos:nth-child(11){
        display: flex;
    }

    .swiper-more{
        display: none;
    }
    .content__about-text{
        height: 400px;
    }

    .content__about-more{
        display: none;
    }

    .technics{
        display: flex !important;
    }

    .description{
        width: 630px;
    }

    .description__text{
        height: 60px;
    }
}

@media (min-width: 1680px){

    .content__about-text{
        width: auto;
        padding-right: 40px;
    }

    .technics:nth-child(5){
        display: flex;
    }
}

@media (min-width: 1920px) {
    .technics,
    .logos{
        width: 16% !important;
    }
}

